* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 62.5%;
    font-family: Roboto, Arial, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

svg {
    height: 2.4rem;
    width: 2.4rem;
}

.icon {
    height: 4rem;
    width: 4rem;
}

a {
    text-decoration: none;
}

/* header css */

.header {
    max-height: 5.6rem;
    justify-content: space-between;
    padding: 0 1.6rem;
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.menu-icon {
    justify-content: center;
}

.youtube-icon {
    padding: 1.8rem 1.4rem 1.8rem 1.6rem;
}

.youtube-icon span {
    font-weight: 0;
    position: relative;
    bottom: 1rem;
    left: 0.5rem;
    color: #212121;
    font-size: 1rem;
}

.youtube-icon svg {
    width: 9rem;
    height: 2rem;
}

.hover:hover {
    background-color: #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
}

.center {
    flex: 0 1 732px;
    min-width: 0;
}

.yt-search-box {
    height: 4rem;
    flex: 1;
    margin-left: 4rem;
    padding: 0 0.4rem;
}

.search-bar {
    box-sizing: border-box;
    padding: 0 0.4rem 0 1.6rem;
    border: 1px solid #cccccc;
    border-radius: 4rem 0 0 4rem;
    border-right: none;
    height: 100%;
    flex: 1;
    margin-left: 3.2rem;
}

.search-bar input {
    width: 100%;
    font-size: 1.6rem;
    flex: 1;
    height: 2.6rem;
    outline: none;
    border: none;
}

.search-icon {
    box-sizing: border-box;
    height: 100%;
    width: 64px;
    height: 40px;
    justify-content: center;
    border: 1px solid #cccccc;
    border-radius: 0 4rem 4rem 0;
    background-color: #f8f8f8;
    padding: 0.1rem 0.6rem;
}

.microphone {
    margin-left: 16px;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.end {
    min-width: 225px;
    justify-content: flex-end;
}

.create-video {
    justify-content: center;
    margin-right: 0.8rem;
}

.notification {
    justify-content: center;
    margin-right: 0.8rem;
}

.profile {
    padding: 0.1rem 0.6rem;
}

.profile img {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 0.8rem;
    border-radius: 50%;
}

/* sidebar css */

.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    /* overflow: hidden; */
    overflow-y: auto;
    transition: all 0.1s ease;
    /* margin-top: 56px; */
}

.open {
    left: -100%;
    transition: all 0.1s ease;
}

.sidebar-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 1.2rem;
    width: 240px;
    box-sizing: border-box;
}

.main-sidebar>div,
.collapsible-sidebar>div {
    width: calc(100% - 12px);
}

.main-sidebar a,
.collapsible-sidebar a {
    font-size: 1.4rem;
    color: #0f0f0f;
    padding: 0 1.2rem;
    min-height: 4rem;
    border-radius: 1rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    line-height: 2rem;
}

.home a {
    background-color: #f2f2f2;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 600;
    color: #0f0f0f;
    line-height: 2rem;
}

.home a:hover {
    background-color: #e6e6e6;
}

.sidehover:hover {
    background-color: #f2f2f2;
}

div a svg,
div a img {
    margin-right: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
}

.collapsible-sidebar a img {
    border-radius: 50%;
}

.main-sidebar a span,
.collapsible-sidebar a span {
    flex: 1;
}

.mp-12 {
    padding-top: 1.2rem;
    margin-top: 1.2rem;
}

.b-top {
    border-top: 1px solid #e5e5e5;
}

.heading {
    padding: 6px 12px 4px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}

#footer {
    box-sizing: border-box;
    width: inherit;
}

.primary-links {
    padding: 16px 24px 0;
    box-sizing: border-box;
    width: 100%;
}

.secondary-links {
    padding: 12px 24px 0;
    box-sizing: border-box;
    width: 100%;
}

#footer a {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #606060;
    margin-right: 8px;
}

.sidebar-container .start {
    padding-left: 1.6rem;
}

.copyright {
    padding: 16px 24px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #909090;
}

/* mini sidebar css*/
.mini-sidebar {
    /* margin-top: 60px; */
    display: inline-block;
    padding: 0 4px;
    position: fixed;
    left: -100%;
    box-sizing: border-box;
    min-height: 100%;
    transition: all 0.1s ease;
    /* bottom: 0; */
    /* justify-content: flex-start; */
}

.item-wrap {
    flex-direction: column;
    margin-top: 4px;

}

.close {
    left: 0;
    transition: all 0.1s ease;
}

.item a {
    border-radius: 10px;
    width: 64px;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    color: #0f0f0f;
    padding: 16px 0 14px;
    min-height: 100%;
    line-height: 1.4rem;
}

.item>a svg {
    margin-bottom: 6px;
    margin-right: 0;
}

/* Content css */

.f-header {
    margin: 56px 0 0 240px;
    overflow: hidden;
}

.ml-76 {
    margin-left: 76px;
    transition: all 0.1s ease;
}

/* feed-filter css */

.feed-filter{
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    width: 100%;
    white-space: nowrap;
}

.feed-filter span {
    font-size: 1.4rem;
    line-height: 2rem;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.i-flex{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.feed-filter .ml-24,
.feed-filter .ml-24 span {
    background-color: #0f0f0f;
    color: #fff;
}

.ff-item {
    padding: 0 12px;
    margin: 12px;
    margin-left: 0;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 32px;
    cursor: pointer;
}

.ffhov:hover{
    background-color: #e5e5e5;
}

.ml-24 {
    margin-left: 2.4rem;
}

#right-arrow{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 56px;
    width: 56px;
    justify-content: center;
    right: 0;
    background-color: #fff;
}

#right-arrow button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
}

#right-arrow button:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

/* main content css video cards */

.main-content{
    padding-top: 24px;
}

.container {
    height: 300vh;
}


/* for Search bar response*/

@media (max-width: 657px) {
    .center {
        justify-content: flex-end;
    }

    .yt-search-box {
        flex: none;
        margin: 0;
    }

    .search-bar {
        display: none;
    }

    .search-icon {
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
    }

    .search-icon:hover {
        background-color: #e5e5e5;
        border-radius: 50%;
        cursor: pointer;
    }

    .microphone,
    .create-video,
    .notification {
        background-color: transparent;
        margin: 0;
    }

    .end {
        min-width: unset;
    }
}

@media (max-width: 428px) {
    .header {
        padding: 0 8px;
    }

    .microphone,
    .notification {
        display: none;
    }
}

/* for sidebar response */

@media (max-width: 1312px) {

    .mini-sidebar {
        left: 0;
    }

    .close {
        left: -100%;
    }

    .sidebar-container {
        left: -100%;
        z-index: 5;
        background-color: #fff;
    }

    .open {
        left: 0;
    }

    .f-header {
        margin: 56px 0 0 76px;
    }

    /* for overlay effect */

    .overlay {
        position: fixed;
        top: -100%;
        left: -100%;
        height: 1000vh;
        width: 200%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
        background: rgba(0, 0, 0, 0.3);
    }

    .open~.overlay {
        opacity: 1;
        left: 240px;
        pointer-events: auto;
    }

}

@media (max-width: 792px) {
    .mini-sidebar {
        display: none;
    }
}